* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", Sans-serif;

}

body {
  overflow-x: hidden;
}

.bgwhite {
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}


/*  */

.elementor-background-video-container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.elementor .elementor-html5-video {
  -o-object-fit: cover;
  object-fit: cover;
}

.elementor-background-overlay {
  background-color: #000000CF;
  opacity: 0.7;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.elementor-content {
  top: 40%;
  left: 0;
  position: absolute;
  z-index: 9999999;
}

.elementor-content span {
  color: white;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.25em;
}


#collasible-nav-dropdown {
  color: white !important;
}

.footerContainer {
  background: #001328;
}

.whiteLine {
  border: 1px solid white;
}


p {
  color: #002248;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.numbers {
  color: #39b54a;
  font-family: "Roboto", Sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -2px;
}

.counter {
  background-color: #151515 !important
}

.counter-title {
  color: #FFFFFF;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6em;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.textcolor {
  color: #39b54a !important;
}
.bgtext{
  background-color: #39b54a !important;
}

.weimage {
  margin-top: 12%;
  height: 76% !important;
  z-index: -1;
}

.image-container {
  position: relative;
}

.image-numbers {
  z-index: 1;
  position: absolute;
  bottom: -10px;
  right: 0;
  padding: 2% 4%;
  color: #39b54a;
  font-family: "Saira", Sans-serif !important;
  font-size: 72px;
  font-weight: 600;
  background-color: #FFFFFF;
}
#our-mission{
  background-color: #F2F2F2 !important;
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}
.mission-container{
  background-color: #F2F2F2;
  text-align: right;
  padding: 5%;
}
.elementor-widget-container{
    color: #001328 !important;
    font-family: "Roboto", Sans-serif !important;
    font-size: 38px !important;
    font-weight: 500 !important ;
}
.line-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.line{
  content: "";
  min-width: 3px !important;
  background-color: #39b54a !important;
  height: 130px;
}
.vision-container{
  background-color: #F2F2F2;
  text-align: left;
  padding: 5%;
}
#ai-doing{
  text-align: center;
  margin: 100px 0;
}
.ai-title{
  color: #001328;
  font-family: "Roboto", Sans-serif;
  font-size: 60px;
  font-weight: 600;
}
.ai-doing-button{
  margin-top: 2%;
  background : transparent;
  border-radius: 0%;
  border: 2px solid #39b54a;
  padding: 1% 1%;
  color: #39b54a !important;
}
.ai-doing-button:hover{
  background : #39b54a;
  color: white !important;
  border: 2px solid #39b54a;
}
#ai-enterprise{
  text-align: center;
  background-color: #3E5062;
  margin: 100px 0px;
}
.enterprise{
  color: #F2F2F2;
    font-family: "Roboto", Sans-serif;
    font-weight: 600 !important;
    line-height: 1.35em !important;
    font-size: 46px;
}
.color-grey{
  background-color: #3E5062 !important;
}

/* Flip */
.flip-card-container {
  width: 350px;
  height: 250px;
  perspective: 1000px;
  
}

.flip-card {
  position: relative !important;
    /* width: 100%; */
    height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardFontColor {
  color: #fff;
}

.flip-card-back {
  transform: rotateY(180deg);
  writing-mode: horizontal-tb;
  padding: 9%;
  background-color: #F2F2F2;
}

.flipimage{
  width: 85px;
}
@media only screen and (max-width: 600px){
.future{
  font-size: smaller;
}
.element{
  text-align: center;
}
}

.elementor-shape[data-negative=false].elementor-shape-bottom, .elementor-shape[data-negative=true].elementor-shape-top {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  padding: 0;
}

.elementor-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.elementor-shape-bottom {
  bottom: -2px;
}

.platformsvg{
    background: #fff ;
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.elementor-content-platform{
  top: 25%;
  left: 2%;
  position: absolute;
  z-index: 9999999;
}
.elementor-content-platform span {
  color: white;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.25em;
}
.textrigth{
  text-align: end;
}